<!DOCTYPE>
<html ng-app="app">
<head>
	<script src="./Lib/js/angular.min.js"></script>
	<script src="./Lib/js/angular-route.min.js"></script>
	<script src="./Controller/principal.js"></script>
	<script src="./Controller/pessoa.js"></script>
	
	<link rel="stylesheet" type="text/css" href="./Lib/css/bootstrap.min.css">
	<script src="./Lib/js/jquery-2.1.4.min.js"></script>

</head>
<body ng-controller="pessoa">
	<div class="container">
		<table class="table table-hover" >
			<thead>
				<tr>
					<td align="center">#id</td>
					<td align="center">Nome</td>
				</tr>
			</thead>
			<tbody ng-repeat="pessoas in pessoa">
				<tr>
					<td ng-model="pessoas.id" align="center">{{pessoas.id}}</td>
					<td ng-model="pessoas.nome" align="center">{{pessoas.nome}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="./Lib/js/bootstrap.min.js"> </script>
</html>